<div fxLayout="column" fxLayoutAlign="center center" class="first-question">
    <mat-card>
        <img mat-card-image src="assets/images/reward-1-small.jpg" >
        <mat-card-content>
            Un volante para el ordenador 
        </mat-card-content>
    </mat-card>

    <mat-card>
        <img mat-card-image src="assets/images/reward-2-small.jpg" >
        <mat-card-content>
            Una entrada para el Gran Premio de España de 2022   
        </mat-card-content>
    </mat-card>
</div>
